<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-balanced">
      <h1 class="title" style="text-align: center;">
          <span style="float: left;">
              <!-- <i class="icon ion-android-arrow-back" ng-click="closeModal()"
              style="font-size: 1.6rem;"></i> -->
              <i class="icon ion-android-arrow-back" ui-sref="businesses.list"
              style="font-size: 1.6rem;"></i>
          </span>
          <span>New Business</span>
      </h1>
      <!-- <button class="button button-clear button-primary" ng-click="closeModal()">
          <i class="icon ion-close-circled"></i>
      </button> -->
    </ion-header-bar>
    <ion-content class="pad-0">
      <div class="list pad-h-0">
          <form class="padding">
              <div class="col-xs-12 margin-t--10 margin-b-10 pad-h-10" ng-if="errorMessage">
                  <div class="alert alert-danger col-12">
                    <small><i class="icon ion-help-circled"></i> {{errorMessage}}</small>
                  </div>
              </div>
              <div class="sub-form col-12 margin-t-5">
                  <div class="col-12 sub-form-title flex pad-r-0 pad-v-10">
                      <div class="col-12 grid-title pad-h-0">
                          <div class="col-xs-12">
                              <b>Required fields are marked with <span class="text-danger">&#42;</span>.</b>
                          </div>
                    </div>
                  </div>
                  <div class="col-12 margin-t-30">
                      <div class="form-cont col-12" ng-repeat="field in createFields"
                      style="margin-bottom:15px;" ng-class="{'margin-b-0': field.name === 'notes'}">
                          <div class="group" ng-if="(field.type === 'text' || field.type === 'number' || field.type === 'email'
                          || field.type === 'date')">
                              <input type="{{field.type}}"
                                     placeholder="{{field.type === 'date' ? '' : 'Enter the '+field.verbous_name}}"
                                     name="{{field.name}}"
                                     ng-model="a_business[field.name]">
                              <!-- <span class="highlight"></span>
                              <label>{{field.verbous_name}}</label> -->
                              <span class="highlight"></span>
                              <span class="bar"></span>
                              <label ng-class="{'top--15 text-primary': (field.type === 'date')}">
                                  {{field.verbous_name}}
                                  <span ng-if="field.required" class=" text-danger fs-16">&#42;</span>
                              </label>
                              <!-- <validation-errors field="sub_location" valerrors="validation_errors">
                              </validation-errors> -->
                          </div>
                          <div class="group" ng-if="field.type === 'select'">
                              <select class="no-border" name="{{field.name}}" ng-model="a_business[field.name]"
                              ng-options="curr.id as curr.name for curr in opts[field.options]">
                                  <option value="" disabled selected hidden>
                                      --Select {{field.verbous_name}}--
                                  </option>
                              </select>
                              <span class="highlight"></span>
                              <span class="bar"></span>
                              <label class="top--10">{{field.verbous_name}}</label>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 pad-h-15 margin-b-10 margin-t--30">
                      <button type="button" ng-click="saveBusiness()" class="button button-block button-positive">
                          <i class="icon ion-clipboard"></i>&nbsp;SAVE BUSINESS
                      </button>
                  </div>
              </div>
          </form>
      </div>
    </ion-content>
</ion-modal-view>
