<ion-view title='My Businesses' animation="fade-in-up">
  <ion-content style="background-color: #edecec;">
    <ion-card>
    <div class="list padding pad-t-30 menu-cont" style="position: relative;">
        <div class="login-menu" ng-if="!loaded">
            <!-- <div class="form-logo">
            </div> -->
            <div class="col-xs-12 pad-h-15 margin-b-25" style="font-size: 1.15rem;" 
            ng-if="user.businesses.length === 0 || biz_list.length === 0">
           		<div class="alert alert-info">
       				<i class="icon ion-help-circled"></i>&nbsp;&nbsp;
                    <small>Kindly create at least one business before you can continue.</small>
                </div>
            </div>
            <div class="form-cont" ng-if="biz_list.length === 0">
                <button ui-sref="businesses.list.new_business" 
                class="button button-block button-balanced">
                    <i class="icon ion-clipboard">  CREATE A BUSINESS</i>
                </button>
            </div>
            <div class="col-12 grid-header" ng-if="biz_list.length > 0">
                <div class="col-9 grid-title">
                    <div class="col-xs-12">
                        <b>Select a Business.</b>
                    </div>
                    <div class="col-xs-12 pad-t-5">
                        <small>Showing <b>{{biz_list.length}}</b> Businesses</small>
                    </div>
                </div>
                <div class="col-2 grid-action">
                    <!-- businesses.list.new_business -->
                    <!-- <button class="button button-balanced btn-rnd" 
                    ng-click="openModal()">
                        <i class="icon ion-plus-round"></i>
                    </button> -->
                    <button class="button button-balanced btn-rnd" 
                    ui-sref="businesses.list.new_business">
                        <i class="icon ion-plus-round"></i>
                    </button>
                </div>
            </div>
            <div class="col-12 grid-lines" ng-repeat="biz in biz_list track by $index" 
            ui-sref="app.home({'id': biz.id, 'biz_name': biz.name})">
                <div class="line-icon col-2">
                    <div class="icon-cont">
                        <i class="icon ion-clipboard"></i>
                    </div>
                </div>
                <div class="line-details col-9">
                    {{biz.name}}
                </div>
                <div class="line-action col-1">
                    <a ui-sref="app.dashboard({'id': biz.id})">
                        <i class="icon ion-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="login-menu" ng-if='loaded'>
            <div class="col-12 grid-header">
                <div class="col-9 grid-title">
                    <div class="col-xs-12">
                        <b>Loading your businesses...</b>
                    </div>
                </div>
                <div class="col-2 grid-action">
                </div>
            </div>
            <div class="col-x-12" style="position: relative;">
                <div class="showbox">
                    <div class="circular-loader">
                        <svg class="circular" viewBox="25 25 50 50">
                          <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </ion-card>

  </ion-content>

</ion-view>