<ion-view title='Exercises' animation="fade-in-up">


  <ion-content style="background-color: #edecec;">
    <ion-card>
        <!-- Spinner when data is loading -->
        <div class="list padding pad-t-30 home-cont" style="position: relative;" ng-if='loaded'>
            <div class="showbox">
                <div class="circular-loader">
                    <svg class="circular" viewBox="25 25 50 50">
                      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
                    </svg>
                </div>
            </div>
        </div>
        <!-- End of spinner -->

      <div class="list padding pad-t-30 home-cont" style="position: relative;">
        <div class="col-xs-12 margin-b-10" ng-repeat="item in exercises">
            <div class="login-menu">
                <!-- <div class="form-logo">
                </div> -->
                <div class="col-12 card-title">
                    <div class="col-9 title-text">
                        {{item.label}}
                    </div>
                    <div class="col-3 title-time text-success">
                        {{item.duration}}
                    </div>
                </div>
                <div class="col-12 grid-header">
                    <div class="col-12 pad-t-10 grid-title flex">
                        <div class="col-3 margin-r-8">
                            <img src="img/placeholder.png"
                            style="width: 80px;height:80px;">
                        </div>
                        <div class="col-9 pad-l-5">
                            <small>
                                <small>
                                    {{item.short_description || 'Some description here' | limitTo : 95}}
                                    {{item.short_description.length > 95 ? '...' : ''}}
                                </small>
                            </small>
                        </div>
                    </div>
                    <div class="col-12 grid-action">
                    </div>
                </div>
            </div>
        </div>
    </div>

    </ion-card>

  </ion-content>

</ion-view>