<ion-view title='{{business.name}}' animation="fade-in-up">


  <ion-content style="background-color: #edecec;">
    <ion-card>
        <div class="list padding pad-t-30 menu-cont" style="position: relative;">
            <div class="login-menu">
                <!-- <div class="form-logo">
                </div> -->
                <div class="col-12 grid-header">
                    <div class="col-9 grid-title">
                        <div class="col-xs-12">
                            <b>Expenses List</b>
                        </div>
                        <div class="col-xs-12 pad-t-5">
                            <small>Showing Page <b>{{expenses.pages ? expenses.pages : 0}}</b></small>
                        </div>
                    </div>
                    <div class="col-2 grid-action">
                      <div class="col-2 grid-action">
                          <button class="button button-balanced btn-rnd"
                          ng-click="openModal($event)">
                              <i class="icon ion-plus-round"></i>
                          </button>
                      </div>
                    </div>
                </div>
                <div class="col-12 grid-lines" ng-repeat="expense in expenses.page_data"
                ui-sref="app.expenses.details({'expense_id': expense.id})">
                    <!-- <div class="line-icon col-2">
                        <div class="icon-cont">
                            <i class="icon ion-clipboard"></i>
                        </div>
                    </div> -->
                    <div class="line-details col-12 pad-l-15">
                        <div class="col-12">
                            {{expense.customer_names}}
                        </div>
                        <div class="col-12">
                            <div class="col-12">
                                <small><span>Amount:</span> KES {{expense.amount}}</small>
                            </div>
                            <div class="col-12">
                                <small>
                                <span>
                                    <i class="icon ion-calendar"></i>
                                </span>
                                {{expense.date | date: 'mediumDate'}}
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="line-action col-1">
                        <!-- TODO: Bring back once there is a expenses detail view -->
                        <!-- <a ui-sref="app.expenses.details({'expenses_id': expense.id})">
                            <i class="icon ion-chevron-right"></i>
                        </a> -->
                    </div>
                </div>
                <div class="col-12 msg-cont" ng-if="!expenses.page_data.length && !loaded">
                    <div class="col-12 details-cont">
                        <div class="col-12 msg-icon">
                            <i class="icon ion-card"></i>
                        </div>
                        <div class="col-12 msg-desc">
                            <small>No expense recorded yet click add button to start recording expenses.</small>
                        </div>
                    </div>
                </div>
                <div class="col-x-12" style="position: relative;" ng-if='loaded'>
                    <div class="showbox">
                        <div class="circular-loader">
                            <svg class="circular" viewBox="25 25 50 50">
                              <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-card>

  </ion-content>

</ion-view>
