<ion-view title='My Stats' animation="fade-in-up">
  <ion-content style="background-color: #edecec;">
    <ion-card>
        <div class="list padding col-12 pad-t-30 menu-cont" style="position: relative;display: inline-block;">
            <div class="col-x-12" style="position: relative;" ng-if='!loaded'>
                <div class="showbox">
                    <div class="circular-loader">
                        <svg class="circular" viewBox="25 25 50 50">
                          <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="login-menu col-12 flex pad-t-10" ng-if="loaded" style="align-items: center;">
                <div class="col-4 profile-cont">
                    <div class="details-cont bg-white">
                        <div class="col-12" ng-class="{'msg-icon-flex': business_details.logo, 'msg-icon': !business_details.logo }">
                            <i class="icon ion-person-stalker" ng-if="business_details.logo === ''"></i>
                            <img src="img/placeholder.png" style="height: 85px;width: 85px; border-radius: 50%;">
                        </div>
                    </div>
                </div>
                <div class="profile-cont col-8 inline-block">
                    <div class="col-12">
                        <b>{{user.names}}</b>
                    </div>
                    <div class="col-12 margin-t-5">
                        <small>
                            {{user.email | limitTo: 22}}
                            {{user.email.length > 22 ? '...' : ''}}
                        </small>
                    </div>
                    <div class="col-12 margin-t-5">
                        <small>
                            <i class="icon ion-male"></i>
                            &nbsp;Male
                        </small>
                    </div>
                </div>
            </div>
            <!-- Weight Details -->
            <div class="login-menu col-xs-12 pad-t-10 margin-t-10">
                <div class="col-12 grid-header margin-b-0">
                    <div class="col-9 grid-title">
                        <div class="col-xs-12 pad-t-0 titles">
                            <b>Weight Stats</b>
                        </div>
                    </div>
                    <div class="col-2 grid-action flex">
                    </div>
                </div>
                <div class="col-12 pad-h-15 flex">
                    <div class="col-12" id="chart">
                    </div>
                </div>
            </div>
            <!-- Exercises Details -->
            <div class="login-menu col-xs-12 pad-t-10 margin-t-10">
                <div class="col-12 grid-header margin-b-0">
                    <div class="col-9 grid-title">
                        <div class="col-xs-12 pad-t-0 titles">
                            <b>Body Exercises</b>
                        </div>
                    </div>
                    <div class="col-2 grid-action flex">
                    </div>
                </div>
                <div class="col-12 pad-h-15 flex">
                    <div class="col-12" id="doughnut">
                    </div>
                </div>
            </div>
        </div>
    </ion-card>

  </ion-content>

</ion-view>