<ion-view title='Home' animation="fade-in-up">
  <ion-content style="background-color: #edecec;">
    <ion-card>
        <div class="list padding pad-t-30 menu-cont" style="position: relative;">
            <div class="login-menu col-6 margin-r-8">
                <!-- <div class="form-logo">
                </div> -->
            <div class="col-12 grid-header margin-b-0" ui-sref="app.exercises">
                    <div class="col-12">
                        <div class="col-xs-12 text-center">
                            <b>
                                <i class="icon ion-ios-football
                                text-info fs-40"></i>
                            </b>
                        </div>
                        <div class="col-xs-12 menu-labels">
                            <small>Exercise</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-menu col-6 margin-l-8" ui-sref="app.meal_plan">
                <!-- <div class="form-logo">
                </div> -->
                <div class="col-12 grid-header margin-b-0">
                    <div class="col-12 text-center">
                        <div class="col-xs-12">
                            <b>
                                <i class="icon ion-android-list fs-40 text-success"></i>
                            </b>
                        </div>
                        <div class="col-xs-12 menu-labels">
                            <small>Meal Plan</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list padding pad-t-0 menu-cont" style="position: relative;">
            <div class="login-menu col-6 margin-r-8" ui-sref="app.targets">
                <!-- <div class="form-logo">
                </div> -->
                <div class="col-12 grid-header margin-b-0">
                    <div class="col-12">
                        <div class="col-xs-12 text-center">
                            <b>
                                <i class="icon ion-stats-bars text-warning fs-40"></i>
                            </b>
                        </div>
                        <div class="col-xs-12 menu-labels">
                            <small>Targets</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-menu col-6 margin-l-8" ui-sref="app.dashboard">
                <div class="col-12 grid-header margin-b-0">
                    <div class="col-12 text-center">
                        <div class="col-xs-12">
                            <b>
                                <i class="icon ion-pie-graph fs-40 text-danger"></i>
                            </b>
                        </div>
                        <div class="col-xs-12 menu-labels">
                            <small>My Stats</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-card>

  </ion-content>

</ion-view>