<ion-view title='{{business.name}}' animation="fade-in-up">

  <ion-content style="background-color: #edecec;">
    <ion-card>
        <div class="list padding pad-t-30 menu-cont" style="position: relative;">
            <div class="login-menu col-6 margin-r-8">
                <!-- <div class="form-logo">
                </div> -->
            <div class="col-12 grid-header margin-b-0" ng-click="goToState('app.sales')">
                    <div class="col-12">
                        <div class="col-xs-12 text-center">
                            <b>
                                <i class="icon ion-ios-cart
                                text-info fs-40"></i>
                            </b>
                        </div>
                        <div class="col-xs-12 menu-labels">
                            <small>Sell Items</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-menu col-6 margin-l-8" ng-click="goToState('app.purchases')">
                <!-- <div class="form-logo">
                </div> -->
                <div class="col-12 grid-header margin-b-0">
                    <div class="col-12 text-center">
                        <div class="col-xs-12">
                            <b>
                                <i class="icon ion-bag fs-40 text-success"></i>
                            </b>
                        </div>
                        <div class="col-xs-12 menu-labels">
                            <small>Purchase Items</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list padding pad-t-0 menu-cont" style="position: relative;">
            <div class="login-menu col-6 margin-r-8" ng-click="goToState('app.expenses')">
                <!-- <div class="form-logo">
                </div> -->
                <div class="col-12 grid-header margin-b-0">
                    <div class="col-12">
                        <div class="col-xs-12 text-center">
                            <b>
                                <i class="icon ion-card text-warning fs-50"></i>
                            </b>
                        </div>
                        <div class="col-xs-12 menu-labels">
                            <small>Record an Expense</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-menu col-6 margin-l-8" ui-sref="app.dashboard">
                <!-- <div class="form-logo">
                </div> -->
                <div class="col-12 grid-item">
                    <div class="col-12 grid-title text-center pad-r-9">
                        <div class="col-12" style="border:1px solid #e0e0e0;font-size: 0.9rem;">
                            <div class="col-12">
                                <div class="col-8 text-left pad-l-5 pad-t-5">
                                    <small>Sales</small>
                                </div>
                                <div class="col-3">
                                    <small>XXX</small>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="col-8 text-left pad-l-5">
                                    <small>Expenses</small>
                                </div>
                                <div class="col-3">
                                    <small>(XX)</small>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="col-8 text-left pad-l-5">
                                    <small>Profit</small>
                                </div>
                                <div class="col-3" style="border-top: 1px solid #e0e0e0;
                                border-bottom: 1px solid #e0e0e0;">
                                    <small>XXX</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 menu-labels">
                        <small>Business Summary</small>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="list padding pad-t-0 menu-cont" style="position: relative;">
            <div class="login-menu col-6 margin-r-8">
            <div class="col-12 grid-header" ui-sref="app.business_information">
                    <div class="col-12 grid-title">
                        <div class="col-xs-12 text-center">
                            <b>
                                <i class="icon ion-android-apps
                                text-info fs-40"></i>
                            </b>
                        </div>
                        <div class="col-xs-12 pad-t-5 text-center">
                            <small>Business Information</small>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </ion-card>

  </ion-content>

</ion-view>