<div class="sub-form col-12 margin-t-0 pad-r-0">
    <div class="col-12 sub-form-title flex pad-r-0 pad-v-10">
        <div class="col-8 grid-title pad-h-0">
          <div class="col-xs-12">
              <small><b>Select Payment Account(s)</b></small>
          </div>
      </div>
      <div class="col-2 grid-action">
      </div>
    </div>
    <div class="col-12 h-12">
        <div class="col-12 grid-lines" ng-repeat="acc in accounts"
        ng-click="openPopover($event, 'receipt', acc)">
            <div class="line-details col-12 pad-l-15">
                <div class="col-12">
                    <small>{{acc.account_name}}</small>
                </div>
                <div class="col-12">
                    <div class="col-12">
                        <small><small><span><b>Received:</b></span> {{acc.amount || 0 | currency: 'KES '}}</small></small>
                    </div>
                </div>
            </div>
            <div class="line-action col-1">
                <a ng-click="removePay(pay)" class="delete-btn">
                    <i class="icon {{acc.account === 'Cash Account' ? 'ion-cash text-success' : 'ion-card text-primary'}}" style="font-size: 1.45rem;"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-12 grid-lines" ng-if="accounts.length === 0 || !accounts">
        <div class="line-details col-12 pad-h-15">
            <div class="col-12 alert alert-info">
                <small> <i class="icon ion-help-circled"></i>&nbsp;No configured accounts to receive cash.</small>
            </div>
        </div>
    </div>
</div>