<style type="text/css">
    .eko-edit-products {
        width: 450px;
        padding: 20px;
    }
    .eko-edit-products md-input-container {
        margin: 10px 0 5px 0 !important;
    }
    .eko-edit-products md-input-container.select {
        margin: 15px 0 15px !important;
    }
</style>
<md-dialog aria-label="Process transaction">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>New Expense</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div layout="column" class="eko-edit-products">
                <md-input-container flex>
                    <label>Expense</label>
                    <input type="text" ng-model="edit.expense_name">
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <label style="right: auto !important;">Transaction Date</label>
                    <md-datepicker ng-model="edit.transaction_date"></md-datepicker>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <label>Pay Using</label>
                    <md-select ng-model="edit.payment_account_id">
                        <md-option ng-repeat="item in cashAccounts" value="{{item.id}}">
                            {{item.account_provider}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="eko-sale-row-item" flex>
                    <label>Amount</label>
                    <input type="number" step="0.01" ng-model="edit.amount">
                </md-input-container>
                <md-input-container flex>
                    <label>Notes</label>
                    <textarea type="text" ng-model="edit.notes"></textarea>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <div layout="row" class="padding-10">
                <md-button type="button" ng-click="cancel()">
                    Cancel
                </md-button>
                <span flex></span>
                <md-button class="md-raised md-primary" ng-click="saveEdit($event)">
                    Save Details
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>