<style type="text/css">
    .eko-sale-dialog-form md-input-container {
        margin: 0 !important;
    }
</style>
<md-dialog aria-label="Process transaction">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Process Payment</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div id="checkout-wrapper" class="md-dialog-content" style="width: 500px"></div>
        </md-dialog-content>
        <md-dialog-actions>
            <div layout="row" class="padding-10">
                <md-button type="button" ng-click="cancel()">
                    Cancel
                </md-button>
                <span flex></span>
                <md-button class="md-raised md-primary" ng-click="completeTransaction($event)">
                    Complete Transaction
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>