<style type="text/css">
    .eko-info-edit-modal {
        width: 450px;
        padding: 20px;
    }
    .eko-info-edit-modal md-input-container {
        max-height: 45px !important;
        margin: 10px 0 !important;
    }
    .eko-info-edit-modal md-checkbox {
        margin-bottom: 4px !important;
    }
</style>
<md-dialog aria-label="Process transaction">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit Cash Account</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div layout="column" class="eko-info-edit-modal">
                <md-input-container class="select md-block" flex>
                    <label>Account Type</label>
                    <md-select ng-model="edit.type">
                        <md-option ng-repeat="type in accountTypes" value="{{type.id}}">
                            {{type.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex>
                    <label>Account Provider (i.e. Cash Account, Bank, M-Pesa, Paypal)</label>
                    <input type="text" ng-model="edit.account_provider">
                </md-input-container>
                <md-input-container flex>
                    <label>Account Holder (i.e. Name under account)</label>
                    <input type="text" ng-model="edit.account_holder">
                </md-input-container>
                <md-input-container flex>
                    <label>Account Number (i.e. Number, ID, email)</label>
                    <input type="text" ng-model="edit.account_number">
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button type="button" ng-click="cancel()">
                Cancel
            </md-button>
            <span flex></span>
            <md-button class="md-raised md-primary" ng-click="saveEdit($event)">
                Save Details
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>