<div class="form-cont margin-b-10 {{field.class}} pad-l-3 margin-t--30" ng-repeat="field in itemFields">
    <div class="group" ng-if="(field.type === 'text' || field.type === 'number' ||
    field.type === 'email' && field.name !== 'qty')">
        <input type="{{field.type}}" required
               placeholder="Enter the {{field.verbous_name}}"
               name="{{field.name}}" 
               ng-model="an_item[field.name]"
               ng-readonly="field.readonly"
               ng-change="setTotal()">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label ng-class="{'top--15 text-primary': field.readonly}">{{field.verbous_name}}</label>
    </div>
    <div ng-if="field.name === 'qty'" class="col-12 margin-t-25 pad-l-5">
        <div class="group col-12 flex">
            <div class="col-12">
                <input type="{{field.type}}" required
                       placeholder="Enter the {{field.verbous_name}}"
                       name="{{field.name}}" 
                       ng-model="an_item[field.name]"
                       ng-readonly="field.readonly"
                       ng-change="setTotal()">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label style="left: auto;" ng-class="{'top--15 text-primary': field.readonly}">
                    {{field.verbous_name}}
                </label>
            </div>
            <div class="col-2 input-icon" style="margin-right: 5px;">
                <i class="icon ion-minus-circled" ng-click="an_item[field.name] = an_item[field.name] - 1;setTotal();"
                style="font-size: 1.85rem;color: #9e9e9e;"></i>
            </div>
            <div class="col-2 input-icon" style="margin-right: 5px;">
                <i class="icon ion-plus-circled" ng-click="an_item[field.name] = an_item[field.name] + 1;setTotal();"
                style="font-size: 1.85rem;color: #9e9e9e;"></i>
            </div>
        </div>
    </div>
    <div class="group" ng-if="field.type === 'input'">
        <select class="no-border" ng-model="an_item[field.name]" ng-options="item._id as item.name for item in sales_items"
        ng-change="setItemPrice()">
            <option value="" disabled selected hidden>
                --Select {{field.verbous_name}}--
            </option>
        </select>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>{{field.verbous_name}}</label>
    </div>
    <!-- Select item -->
    <div class="col-12 group" ng-if="field.type === 'select'">
        <div class="col-12 flex" 
        style="margin-bottom: 0px;padding-bottom: 5px;">
            <!-- <div class="col-1 input-icon" style="margin-right: 5px;">
                <i class="icon ion-help-buoy" 
                style="font-size: 1.45rem;color: #9e9e9e;"></i>
            </div> -->
            <div class="col-12">
                <select class="no-border" ng-model="an_item[field.name]" 
                ng-options="item.id as item.name for item in sales_items"
                ng-change="setItemPrice()">
                    <option value="" disabled selected hidden>
                        <i class="icon ion-help-buoy" 
                        style="font-size: 1.0rem;color: #9e9e9e;"></i>
                        <i style="color: #eee !important;">Select {{field.verbous_name}}</i>
                    </option>
                </select>
                <span class="highlight"></span>
                <span class="bar"></span>
              <!-- <label class="top--10">{{field.verbous_name}}</label> -->
            </div>
        </div>
    </div>
    <!-- End of custom field -->
</div>
<div class="form-cont col-12 margin-b-0">
    <button type="button" class="button button-block button-balanced" 
    ng-click="addItem()"
    style="margin-top: -10px;min-height: 40px;padding:0 8px;">
        CHARGE | KES {{an_item.total ? an_item.total : 0}} </i>
        <!-- <i class="icon ion-android-cart"> -->
    </button>
</div>