<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-balanced">
      <h1 class="title" style="text-align: center;">
          <span style="float: left;"><i class="icon ion-android-arrow-back" ng-click="closeModal()"
          style="font-size: 1.6rem;"></i></span>&nbsp;&nbsp;&nbsp;
          New Purchase
      </h1>
      <!-- <button class="button button-clear button-primary" ng-click="closeModal()">
          <i class="icon ion-close-circled"></i>
      </button> -->
    </ion-header-bar>
    <ion-content class="pad-0">
      <div class="list pad-h-0">
          <form class="padding">
              <div class="form-cont margin-b-0 box-shadow" ng-repeat="field in createFields" 
              style="width: 110%;margin-left: -20px;margin-top: -10px;margin-bottom:15px;">
                  <div class="group" ng-if="(field.type === 'text' || field.type === 'number' || field.type === 'email')">
                      <input type="{{field.type}}" required
                             placeholder="Enter the {{field.verbous_name}}"
                             name="{{field.name}}" 
                             ng-model="sale[field.name]">
                      <span class="highlight"></span>
                      <label>{{field.verbous_name}}</label>
                      <span class="highlight"></span>
                      <span class="bar"></span>
                      <label>{{field.verbous_name}}</label>
                      <!-- <validation-errors field="sub_location" valerrors="validation_errors">
                      </validation-errors> -->
                  </div>
                  <div class="group margin-b-0" ng-if="field.type === 'input'">
                      <select class="no-border" ng-model="sale[field.name]" 
                      ng-options="customer.id as customer.name for customer in customers">
                          <option value="" disabled selected hidden>
                              --Select {{field.verbous_name}}--
                          </option>
                      </select>
                      <span class="highlight"></span>
                      <span class="bar"></span>
                      <label class="top--10">{{field.verbous_name}}</label>
                      <!-- <validation-errors field="site" valerrors="validation_errors">
                      </validation-errors> -->
                  </div>                  
                  <div class="group col-12 flex" ng-if="field.type === 'select'"
                  style="margin-bottom: 0px;padding-bottom: 5px;">
                      <div class="col-1 input-icon" style="margin-right: 5px;">
                          <i class="icon ion-person-add text-success" 
                          style="font-size: 1.45rem;color: #9e9e9e;"></i>
                      </div>
                      <div class="col-12">
                          <select class="no-border" ng-model="sale[field.name]" 
                          ng-options="supplier.id as supplier.name for supplier in suppliers">
                              <option value="" disabled selected hidden>
                                  <i style="color: #eee !important;">Select {{field.verbous_name}}</i>
                              </option>
                          </select>
                          <span class="highlight"></span>
                          <span class="bar"></span>
                          <!-- <label class="top--10">{{field.verbous_name}}</label> -->
                      </div>
                      <div class="col-2 text-right pad-t-5" ng-if="sale[field.name]">
                          <!-- <button class="button button-assertive btn-rnd pull-right btn-sm"
                          style="float: right;" ng-click="sale.client_id = ''">
                              <i class="icon ion-close"></i>
                          </button> -->
                          <i class="icon ion-close-round text-danger" ng-click="sale.client_id = ''"></i>
                      </div>
                  </div>
              </div>
              <div class="sub-form col-12 margin-t-5">
                  <div class="col-12 sub-form-title flex pad-r-0">
                      <div class="col-7 grid-title pad-h-0">
                        <div class="col-xs-12">
                            Cart
                        </div>
                        <div class="col-xs-12 pad-t-5">
                            <small>Total <b>{{totals | currency : 'KES '}}</b></small>
                        </div>
                    </div>
                    <div class="col-5 grid-action pad-b-0">
                        <button class="button button-balanced button-block btn-sm"
                        ng-click="openPopover($event, 'sale')">
                            Add&nbsp;Item
                        </button>
                    </div>
                  </div>
                  <div class="col-12 items-cont" ng-if="items.length > 0">
                      <div class="col-12 grid-lines" ng-repeat="item in items">
                          <div class="line-details col-12 pad-l-15">
                              <div class="col-12">
                                  <small>{{item.name}}</small>
                              </div>
                              <div class="col-12">
                                  <div class="col-12">
                                      <small><small>{{item.qty}} @ KES {{item.price}} = KES {{item.total}}</small></small>
                                  </div>
                              </div>
                          </div>
                          <div class="line-action col-1">
                              <a ng-click="removeItem(item)" class="delete-btn">
                                  <i class="icon ion-trash-a text-danger"></i>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 msg-cont" ng-if="items.length === 0 || !items">
                      <div class="col-12 details-cont">
                          <div class="col-12 msg-icon">
                              <i class="icon ion-android-cart"></i>
                          </div>
                          <div class="col-12 msg-desc">
                              <small>No item added to cart yet.</small>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- <ng-include src="'templates/payment_list.html'"></ng-include> -->
              <div class="sub-form col-12 margin-t-20 subtotals">
                  <div class="col-12 sub-form-title flex pad-r-0">
                      <div class="col-9 grid-title pad-h-0 no-border">
                        <div class="col-xs-12 text-primary">
                            Subtotals
                        </div>
                    </div>
                  </div>
                  <div class="col-12 items-cont" >
                      <div class="col-12 grid-lines no-border">
                          <div class="line-details col-5 pad-l-15">
                              <div class="col-12">
                                  <small>Total Amount</small>
                              </div>
                          </div>
                          <div class="line-action col-7 text-right pad-r-5">
                              <small>{{totals ? totals : 0 | currency: 'KES '}}</small>
                          </div>
                      </div>
                  </div>
                  <!-- <div class="col-12 items-cont" ng-if="items.length < 4 || !items.length">
                      <div class="col-12 grid-lines no-border">
                          <div class="line-details col-5 pad-l-15">
                              <div class="col-12">
                                  <small>Total Discount</small>
                              </div>
                          </div>
                          <div class="line-action col-7 text-right pad-r-5">
                              <small>{{total_discount ? total_discount : 0 | currency: 'KES '}}</small>
                          </div>
                      </div>
                  </div> -->
              </div>
              <!-- Subtotals -->
              <div class="form-cont pad-h-0 margin-t-20">
                  <button type="button" ng-click="openPaymentModal()" class="button button-block button-positive fixed-btn">
                      <i class="icon ion-cash"></i>&nbsp;PAYMENT | KES {{totals ? totals : 0}}
                  </button>
              </div>
          </form>
      </div>
    </ion-content>
</ion-modal-view>