<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-balanced">
      <h1 class="title" style="text-align: center;">
          <span style="float: left"><i class="icon ion-android-arrow-back" ng-click="closePaymentModal()"
          style="font-size: 1.6rem;"></i></span>&nbsp;&nbsp;&nbsp;Make Payment
      </h1>
      <!-- <button class="button button-clear button-primary" ng-click="closeModal()">
          <i class="icon ion-close-circled"></i>
      </button> -->
    </ion-header-bar>
    <ion-content class="pad-0">
      <div class="list pad-h-0">
          <form class="padding" ng-submit="savePurchase()">
              <div class="form-cont margin-b-0 box-shadow" ng-repeat="field in createFields" 
              style="width: 110%;margin-left: -20px;margin-top: -10px;margin-bottom:25px;">                
                  <div class="group col-12 flex" ng-if="field.type === 'select'"
                  style="margin-bottom: 0px;padding-bottom: 5px;">
                      <!-- <div class="col-1 input-icon" style="margin-right: 5px;">
                          <i class="icon ion-cash" 
                          style="font-size: 1.45rem;color: #9e9e9e;"></i>
                      </div> -->
                      <div class="col-12">
                          <div class="col-12 pad-t-5 pad-l-15">
                              <small>TOTAL CHARGED {{totals | currency: 'KES '}}</small>
                          </div>
                      </div>
                      <div class="col-2" ng-if="sale[field.name]">
                      </div>
                  </div>
              </div>
              <ng-include src="'templates/payment_list.html'"></ng-include>
              <!-- Total aggregation -->
              <div class="sub-form col-12 margin-t-15 subtotals">
                  <div class="col-12 sub-form-title flex pad-r-0">
                      <div class="col-9 grid-title pad-h-0 no-border">
                        <div class="col-xs-12 text-primary">
                            Total
                        </div>
                    </div>
                  </div>
                  <div class="col-12 items-cont" >
                      <div class="col-12 grid-lines no-border">
                          <div class="line-details col-5 pad-l-15">
                              <div class="col-12">
                                  <small>Total Paid</small>
                              </div>
                          </div>
                          <div class="line-action col-7 text-right pad-r-5">
                              <small>{{pay_totals ? pay_totals : 0 | currency: 'KES '}}</small>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 items-cont">
                      <div class="col-12 grid-lines no-border pad-t-0">
                          <div class="line-details col-5 pad-l-15">
                              <div class="col-12">
                                  <small>Total Owed</small>
                              </div>
                          </div>
                          <div class="line-action col-7 text-right pad-r-5">
                              <small>{{pay_totals - totals | currency: 'KES '}}</small>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End of total -->
              <div class="form-cont pad-h-0">
                  <button type="submit" class="button button-block button-positive fixed-btn">
                      <i class="icon ion-checkmark-round"></i>&nbsp;&nbsp;PROCESS PURCHASE
                  </button>
              </div>
          </form>
      </div>
    </ion-content>
</ion-modal-view>